
<div class="container mt-4">
  <div class="row d-flex justify-content-center">
      <form action="/admin/addCategory" id="addCategory" method="post"  class="loginBox col-md-6">
        <input
          type="text"
          class="w-100 p-2 m-2 form-control"
          name="name"
          placeholder="Name"
        />
        <input
          type="text"
          class="w-100 p-2 m-2 form-control"
          name="desc"
          placeholder="Description"
        />
        {{!-- <input type="file" class="w-100 p-2 m-2 form-control" name="image" /> --}}
        <input type="submit" class="btn btn-success p-2 m-2 float-end" />
      </form>
  </div>
</div>
