 <nav
  class="w-100 navbar navbar-expand-lg navbar-light bg-white border-bottom border-dark"
>
  <div class="container-fluid px-4 d-flex justify-content-between">

    <h3 class="d-none d-sm-none d-lg-block w-75 ms-auto text-center">Admin Panel</h3>
    <a class="navbar-brand fw-bold ms-auto" href="#">
      <img
        src="/images/logo.jpg"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top rounded-circle"
        style="transform: scale(1.5);"
      />
      HomelandSpices
    </a>

    {{!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ms-auto">
          <a
            class="nav-link dropdown-toggle w-25"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="/images/avatar.png"
              alt=""
              width="24"
              height="24"
              class="d-inline-block align-text-top me-4 rounded-circle"
              style="transform: scale(1.5);"
            />
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">˅</a></li>
          </ul>
        </li>
      </ul> --}}

    </div>
  </div>
</nav> 