<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold d-flex h-100" href="#">
      <img
        src="/images/logo.png"
        alt=""
        width="30"
        height="30"
        class="d-inline-block align-text-top rounded-circle mx-3"
        style="transform: scale(1.5);"
      />
      <a class="fw-bold fs-5 mx-auto a-none title text-dark" href="/">HomelandSpices</a>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-5 fs-7" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-uppercase fs-7 f-500"
            aria-current="page"
            href="#"
          >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase fs-7 f-500" href="#">blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase f-500" href="#">contact</a>
        </li>
        {{! <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> }}
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-uppercase fs-7 d-none d-md-block"
            aria-current="page"
            href="/shop"
          ><img src="/images/icons/search.svg" width="25px" alt="" /></a>
          <a class="nav-link text-uppercase f-500 d-block d-md-none" href="/shop">shop</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase fs-7 d-none d-md-block"
            href="/cart"
          ><img src="/images/icons/cart.svg" width="25px" alt="" /></a>
          <a class="nav-link text-uppercase f-500 d-block d-md-none" href="/cart">cart</a>
        </li>
          {{#if user}}
        <li class="nav-item d-flex mt-3 m-md-0" data-bs-toggle="dropdown"
          aria-expanded="false">
            <div class=" d-flex profile">
              <div id="avatar" class="d-flex justify-content-center" style="height: 2rem;width:2rem;" >
                <img
                src="/images/logo.png"
                alt=""
                class="d-inline-block align-text-top rounded-circle m-auto"
                style="transform: scale(1.5);width: 1.3rem; height: 1.3rem"
              />
              </div>
              <div class="w-75 d-flex">
                <p class="m-auto text-center" style="width: 7rem;" >{{user.username}}</p>
                <img
                  class="mx-3 m-auto"
                  width="18px"
                  height="18px"
                  src="/images/icons/up_arrow.svg"
                  alt=""
                />
              </div>
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/orders">My Orders</a></li>
              <li><a class="dropdown-item" href="/wishlist">Wishlist</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </li>
          {{else}}
            <li class="nav-item">
              <a
              class="nav-link btn bg-btn text-white px-5 mx-3 rounded-pill"
              href="/signin"
            >Login</a>
            </li>
          {{/if}}
        {{!-- <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown button
        </button> --}}
        
        {{! <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> }}
      </ul>
      {{! <a href="/logout" class="btn btn-danger text-white">Logout </a> }}
    </div>
  </div>
</nav>
{{!-- This is a code to generate random avatar image using multiavatar --}}
<script src="https://cdn.jsdelivr.net/npm/@multiavatar/multiavatar/multiavatar.min.js"></script>
<script>
  if($("#avatar").length > 0) {
  const random = Math.random().toString(36).substring(2,7);
  var svgCode = multiavatar(random)
  document.getElementById('avatar').innerHTML = svgCode;
  }
</script>