<form action="/checkout" method="post">
    <input type="radio" name="paymentMethod" value="Cash On Delivery" id="">
    <label for="paymentMethod">Cash On Delivery</label>
    <input type="radio" name="paymentMethod" value="Online Payment" id="">
    <label for="paymentMethod">Online Payment</label>
    <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
</form>