@media screen and (max-width: 576px) {
    .carts {
      padding: 0;
    }
    .padding_1{
      padding: 0 !important;
    }
  }
  .bg_purple {
    background-color: #9155fd;
  }
  hr {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  @media screen and (max-width: 960px) {
  .order_summary {
    margin-top: 0rem !important;
    padding: 1rem !important;
  }
  .outer {
    padding: 1rem !important;
  }
  }
  @media screen and (min-width: 768px) {
  .outer {
    padding: 3rem;
  }
  }
  @media screen and (max-width: 768px) {
    .outer {
      padding: 0.3rem !important;
    }
    .proImg {
      width: 70% !important;
      height: auto;
      object-fit: cover;
    }
    .innner_order_summary {
      padding: 0.5rem!important;
    }
    .title {
      font-size: 1rem;
      word-wrap: break-word;
    }
  
    .desc {
      font-size: 0.8rem;
      word-wrap: break-word;
    }
    .cart{
      padding: 0.1rem !important;
    }
  }
  @media screen and (max-width: 368px) {
    .removeText {
      display: none !important ;
    }
    .removeIcon {
      display: block !important;
    }
    .order_summary {
      margin-top: 0rem !important;
      padding: 0.4rem !important;
    }
    .outer {
      padding: 0.15rem !important;
    }
    .proImg {
      width: 80% !important;
      margin-left: 5.5% !important;
    }
    .image_container {
      width: 100vw !important;
    }
    .pro_details_container {
      margin: 0.5rem auto !important;
      width: 80% !important;
    }
    .desc {
      width: 110% !important;
    }
    hr {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
  }