* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  gap: 7rem;
}



.hero-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.box-one {
  margin: 1rem auto !important;
  width: 80% !important;
  height: 85% !important;
}

.pro-img { 
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
}

.small {
  width: 20%;
  height: 6.25rem;
  background: #dfdfdf;
}

@media screen and (max-width: 768px) {
  .pro-img{
    display: none;
  }
  .outer{
    height: 50% !important;
  }
  .padding{
    height: 100% !important;
  }
}

.p-name {
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.438rem;
  letter-spacing: 0.02em;

  /* Dark */

  color: #17183b;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.688rem;
  color: #17183b;
}

.description {
  font-size: 1rem;
  line-height: 24px;
  color: #17183b;
}


.cart {
  font-weight: 200;
  font-size: 0.875rem;
  background: #9155fd;
  border-radius: 2px;
  padding: 0.5rem 2rem;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
}

.padding {
  margin-top: 2rem!important;
  height: 65vh;
}
.swiper-pagination-bullet-active {
  background-color: #000 !important;
}
.swiper-pagination-bullets-dynamic{
  transform: translateX(0%) !important;
  bottom: 0 !important;
}

@media screen and (max-width: 576px){
  .padding {
    width: 95% !important;
    margin-top: 0rem;
  }
  .pro-img {
    margin-top: 0rem !important;
  }
  .product_details {
    margin: 3rem auto !important;
  }
  .breadcrumb {
    padding: 0rem !important;
    margin-bottom: 0.5rem !important;
  }
  .box-one {
    margin: 1rem auto !important;
  }
  /* .outer_container {
    height: 200vh !important;
  } */
}