<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/authentication.css" />
<div class="container-fluid vh-100 d-flex bg-ma-white justify-content-center">
  <div
    class="col-11 col-sm-9 col-md-7 col-lg-5 col-xl-3 my-auto bg-white py-4 rounded"
  >
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item w-100">
        <a class="nav-link nonactive text-muted text-center"  href="/">Forgot Password</a>
      </li>
    </ul>
    <div class="col-sm-9 col-9 mx-auto">
      <form id="forgot_password" method="post">
        <p for="email">Email</p>
        <input
          class="form-control py-2 px-3 mb-3"
          placeholder="E.g : Johndoe@gmail.com"
          id="email"
          type="email"
          name="email"
        />
        <a
          href="/otp"
          class=" text-secondary forgot-password"
        >SignIn with Otp</a>
        <a
          href="/forgot-password"
          class="float-end text-secondary forgot-password"
        >Forgot Password?</a>
        <p id="error" class="text-danger text-center my-2"></p>
        <button type="submit" class="btn bg-blurple text-white w-100 mt-2">Send link</button>
        </form>
  </div>
</div>

{{!-- sweet alert cdn link  --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

$(document).ready(function() {
  jQuery.validator.addMethod(
    "minlength",
    function(value, element, params) {
      return this.optional(element) || value.trim().length >= params;
    },
    jQuery.validator.format("Please enter at least {0} characters.")
  );
  $("#forgot_password").validate({
    rules: {
      email: {
        required: true,
        email : true,
        minlength: 4,
      },
    },
    submitHandler: function(form, e) {
      e.preventDefault();
      $.ajax({
        url: "/password/forgot",
        method: "POST",
        data: $("#forgot_password").serialize(),
        success: function(data) {
          var now = new Date();
          var time = now.getTime();
          var expireTime = time + 1000*720;
          now.setTime(expireTime);
          document.cookie = `email=${data};expires=`+now.toUTCString();
          Swal.fire({
            icon: 'success',
            title: 'Fogot Password',
            text: "Password reset link has been sent to your account",
          }).then((state) => {
            if(state.isConfirmed){
              location.href = "/signin"
            }
          })
        },
        error: function(err) {
          err = jQuery.parseJSON(err.responseText);
          $("#error").text(err);
        }
      })
    }
  });
});

</script>